@page "/info"
@using LgTv.Clients.Info
@inject ILgTvClientController Controller

<h3>Info</h3>

<br />

<div class="card">
    <div class="card-header">
        <h5 style="margin-bottom: 0;">Time</h5>
    </div>

    <div class="card-body">
        @if (_systemInfo == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <label style="margin-bottom: 0">@_currentSystemTime.ToString()</label>
        }
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        <h5 style="margin-bottom: 0;">System</h5>
    </div>

    <div class="card-body">
        @if (_systemInfo == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div>
                <label class="heading">Features</label><br />
                <label>3D: @(_systemInfo.Features._3D ? "Enabled" : "Disabled")</label><br />
                <label>DVR: @(_systemInfo.Features.DVR ? "Enabled" : "Disabled")</label>

                <br />
                <br />

                <label class="heading">Receiver Type</label><br />
                <label>@_systemInfo.ReceiverType</label>

                <br />
                <br />

                <label class="heading">Model</label><br />
                <label>@_systemInfo.ModelName</label>

                <br />
                <br />

                <label class="heading">Program Mode</label><br />
                <label style="margin-bottom: 0">@_systemInfo.ProgramMode</label>
            </div>
        }
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        <h5 style="margin-bottom: 0;">Software</h5>
    </div>

    <div class="card-body">
        @if (_softwareInfo == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div>
                <label class="heading">Product Name</label><br />
                <label>@_softwareInfo.ProductName</label>

                <br />
                <br />

                <label class="heading">Model</label><br />
                <label>@_softwareInfo.ModelName</label>

                <br />
                <br />

                <label class="heading">Software Type</label><br />
                <label>@_softwareInfo.SoftwareType</label>

                <br />
                <br />

                <label class="heading">Major Version</label><br />
                <label>@_softwareInfo.MajorVersion</label>

                <br />
                <br />

                <label class="heading">Minor Version</label><br />
                <label>@_softwareInfo.MinorVersion</label>

                <br />
                <br />

                <label class="heading">Country</label><br />
                <label>@_softwareInfo.Country</label>

                <br />
                <br />

                <label class="heading">Country Group</label><br />
                <label>@_softwareInfo.CountryGroup</label>

                <br />
                <br />

                <label class="heading">Device ID</label><br />
                <label>@_softwareInfo.DeviceId</label>

                <br />
                <br />

                <label class="heading">Auth Flag</label><br />
                <label>@_softwareInfo.AuthFlag</label>

                <br />
                <br />

                <label class="heading">Ignore Disable</label><br />
                <label>@_softwareInfo.IgnoreDisable</label>

                <br />
                <br />

                <label class="heading">Eco Info</label><br />
                <label>@_softwareInfo.EcoInfo</label>

                <br />
                <br />

                <label class="heading">Config Key</label><br />
                <label>@_softwareInfo.ConfigKey</label>

                <br />
                <br />

                <label class="heading">Language</label><br />
                <label>@_softwareInfo.Language.Name</label>
            </div>
        }
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        <h5 style="margin-bottom: 0;">Connection</h5>
    </div>

    <div class="card-body">
        @if (_softwareInfo == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div>
                <label class="heading">Subscribed</label>
                <p>@(_connectionInfo.Subscribed ? "Yes" : "No")</p>

                @if (_connectionInfo.P2PInfo != null)
                {
                    <label class="heading">P2P</label>
                    <p>MAC Address: @_connectionInfo.P2PInfo.MacAddress</p>
                }

                @if (_connectionInfo.WifiInfo != null)
                {
                    <label class="heading">WiFi</label>
                    <p>MAC Address: @_connectionInfo.WifiInfo.MacAddress</p>
                }

                @if (_connectionInfo.WiredInfo != null)
                {
                    <label class="heading">Wired</label>
                    <p>MAC Address: @_connectionInfo.WiredInfo.MacAddress</p>
                }

            </div>
        }
    </div>
</div>

<br />

@code {
    private DateTime? _currentSystemTime;

    private SystemInformation _systemInfo;
    private SoftwareInformation _softwareInfo;
    private ConnectionInformation _connectionInfo;

    protected override async Task OnInitializedAsync()
    {
        _currentSystemTime = await Controller.Client.Info.GetCurrentTime();
        _systemInfo = await Controller.Client.Info.GetSystemInfo();
        _softwareInfo = await Controller.Client.Info.GetSoftwareInfo();
        _connectionInfo = await Controller.Client.Info.GetConnectionInfo();
    }
}
